html, body {
    font-family: 'Open-Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 384px;
}

h1 {
    font-family: 'Menlo', monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
}

a:link, a:visited {
    color: #000;
    outline: 0;
    text-decoration: none;
}

img {
    width: 30px;
}

.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
}

.modal-content {
    padding: 0 22px;
}

.modal-icons {
    border-top: 0.5px solid #dadada;
    height: 50px;
    width: 100%;
}

.logo {
    padding: 16px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version {
    color: #444;
    font-size: 18px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.flex {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width: 120px;
}

.flex:hover {
    opacity: 0.4;
}

.flex .fa {
    font-size: 40px;
    color: #2f5876;
}

.dropmenu {
    width: 150px;
    margin-top: 20px;
    align-items: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

input[type=text] {
    padding: 0;
    height: 20px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 12px;
}

select {
    color: #000000;
    background: transparent;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 12px;
    padding: 2px 10px;
    width: 378px;
}

.typeOptions {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    break-before: always;
    margin: 0 0 3em 0;
}

.floatBlock {
    margin: 0 1.81em 0 0;
}